<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>SemWIQ Web Application</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>at.jku.semwiq.webapp.StartupListener</listener-class>
	</listener>
	
	<servlet>
		<description>simple query servlet</description>
		<display-name>QueryServlet</display-name>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.simple.QueryServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RegistryServlet</display-name>
		<servlet-name>RegistryServlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.simple.RegistryServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistryServlet</servlet-name>
		<url-pattern>/registry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>CatalogServlet</display-name>
		<servlet-name>CatalogServlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.simple.CatalogServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CatalogServlet</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>VocabularyServlet</display-name>
		<servlet-name>VocabularyServlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.simple.VocabularyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VocabularyServlet</servlet-name>
		<url-pattern>/vocab</url-pattern>
	</servlet-mapping>
	
</web-app>