<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{HH:mm:ss.SSS} %-6level [%-40.40logger{40}] %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="at.faw.semwiq">
    <level value="DEBUG"/>
  </logger>
  <logger name="semwiq">
    <level value="DEBUG"/>
  </logger>
  <logger name="at.faw.rdfstats">
    <level value="DEBUG"/>
  </logger>
  <logger name="rdfstats">
    <level value="DEBUG"/>
  </logger>
  <logger name="com.hp.hpl.jena">
    <level value="INFO"/>
  </logger>
  <logger name="org.mortbay">
    <level value="INFO"/>
  </logger>

  <root>
    <level value="WARN" />
    <appender-ref ref="stdout"/>
  </root>
</configuration>
