<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

  <display-name>SemWIQ Web Application</display-name>

	<!-- server faces context parameters -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jspx</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.synchronousUpdate</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.concurrentDOMViews</param-name>
		<param-value>true</param-value>
	</context-param>



	<!-- SemWIQ startup listener -->
	<listener>
		<listener-class>
			at.jku.semwiq.webapp.StartupListener
		</listener-class>
	</listener>
	
	<!-- IceFaces startup listener -->
	<listener>
		<listener-class>
			com.icesoft.faces.util.event.servlet.ContextEventRepeater
		</listener-class>
	</listener>



	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Persistent Faces Servlet -->
	<servlet>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Blocking Servlet -->
	<servlet>
		<servlet-name>Blocking Servlet</servlet-name>
		<servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Logging Servlet -->
	<servlet>
		<servlet-name>Logging Servlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.LoggingServlet</servlet-class>
	</servlet>
	
	<!-- Download Servlet -->
	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.ice.servlets.DownloadServlet</servlet-class>
	</servlet>
	
	<!-- DownloadFile Servlet -->
	<servlet>
		<servlet-name>DownloadFile Servlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.ice.servlets.DownloadFileServlet</servlet-class>
	</servlet>
	
	<!-- Joseki Servlet -->
	<servlet>
		<servlet-name>SPARQL service processor</servlet-name>
		<servlet-class>org.joseki.http.Servlet</servlet-class>
	</servlet>

	<!-- Namespace Servlet (required for snorql javascript to fetch namespace prefixes) -->
	<servlet>
		<servlet-name>NamespaceServlet</servlet-name>
		<servlet-class>at.jku.semwiq.webapp.NamespaceServlet</servlet-class>
	</servlet>

	<!-- Persistent Faces Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>/xmlhttp/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>*.iface</url-pattern>
	</servlet-mapping>

	<!-- Blocking Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Blocking Servlet</servlet-name>
		<url-pattern>/block/*</url-pattern>
	</servlet-mapping>

	<!-- Logging Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Logging Servlet</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>

	<!-- SPARQL processor -->
	<servlet-mapping>
		<servlet-name>SPARQL service processor</servlet-name>
		<url-pattern>/sparql</url-pattern>
	</servlet-mapping>

	<!-- Namespace Servlet -->
	<servlet-mapping>
		<servlet-name>NamespaceServlet</servlet-name>
		<url-pattern>/snorql/namespaces.js</url-pattern>
	</servlet-mapping>
  
	<!-- increase session timeout -->
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>

	<!-- Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>